{% extends 'auctions/layout.html' %}

{% block body %}
<h2>Listings in {{ category.name }}</h2>
<div class="listings-container">
    {% for listing in listings %}
    <div class="listing">
        <h3><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></h3>
        <p>{{ listing.description|truncatewords:20}}</p> <p><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</p> </div> {% empty %} <p>No active listings in this category.</p> {% endfor %}

    </div> {% endblock %} 
