{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<div class="banner bg-light p-3 text-center">
    <h1 class="text-primary-emphasis">Active Listings</h1>
    <p class="text-primary-emphasis">Discover unique items and get great deals!</p>
</div>

<div class="container mt-4">
    <div class="row">
        {% for listing in listings %}
        <div class="col-6 col-sm-4">
            <a href="{% url 'listing_detail' listing.id %}" class="text-decoration-none">
                <div class="card h-100">
                    <div class="ratio ratio-1x1"> 
                    {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" class="thumbnail" alt="{{ listing.title }}">
                    {% else %}
                    <img src="{% static 'images/default-image.jpg' %}" class="card-img-top" alt="Default Image">
                    {% endif %}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="lead">{{ listing.title }}</p>
                        <p>{{ listing.description|truncatewords:10 }}</p>
                        <p><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</p>
                    </div>
                </div>
            </a>
        </div>
        
        {% empty %}
        <div class="col">
            <p>No active listings available.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
