{% extends 'auctions/layout.html' %}

{% block body %}
<div>
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p><strong>Starting Bid:</strong> ${{ listing.starting_bid }}</p>

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="toggle_watchlist">
                {% if on_watchlist %}
                    Remove from Watchlist
                {% else %}
                    Add to Watchlist
                {% endif %}
            </button>
        </form>
    {% endif %}
    {% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit" name="place_bid">Place Bid</button>
    </form>
{% endif %}
</div>
{% endblock %}
